[
  {
    "order" : 0,
    "url" : "\/Clipboard.clipboard",
    "modifierFlags" : 1048840,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "enabled" : false,
    "hideIfActive" : false,
    "keyCode" : 49
  },
  {
    "modifierFlags" : 1048840,
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 17,
    "hideIfActive" : true,
    "url" : "\/Applications\/Alacritty.app",
    "openSelectedFiles" : true,
    "order" : 1,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAErjpwzypt5Jyzt\/mT9PQZ4lUBowHKtPQNvie0B\/E3s6TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABBbGFjcml0dHkuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAKAAAAAAAAAAIAAAABAMAAEa8EgAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcR7xcGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8FAAAAAQEAAG1hY09TAAAACAAAAAQDAAAAYH8zHAAAAAgAAAAABAAAQcSMBKJLKmUkAAAAAQEAAEU4MzA0QzA0LUU3RTgtNDY1MS04RTk5LUI1QzU1MUZBMzZDNRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA8AAAAAAAAAAUQAABsAAAAAAAAABAQAACMAAAAAAAAAEAQAAB8AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACsAAAAAAAAABAgAAC8AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "keyCode" : 1,
    "enabled" : true,
    "modifierFlags" : 1048840,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Safari.app",
    "order" : 2,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAIe1V7LGgXpLWpgZCBRa0SX1vFnuI9wkxs2uN\/hAYNhJSAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAoAAAAAAAAAAgAAAAEAwAACP4AAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwWogcoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwUAAAABAQAAbWFjT1MAAAAIAAAABAMAAABgfzMcAAAACAAAAAAEAABBxIwEoksqZSQAAAABAQAARTgzMDRDMDQtRTdFOC00NjUxLThFOTktQjVDNTUxRkEzNkM1GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "hideIfActive" : true
  },
  {
    "bookmark" : "Ym9vazACAAAAAAQQMAAAADIW\/T4\/qayCYDNUdEK0h5ewkZp4mB7mH8\/M8Y4GA1i8UAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABHaXRIdWIgRGVza3RvcC5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAACgAAAAAAAAACAAAAAQDAADMihEAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEf+qagAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vBQAAAAEBAABtYWNPUwAAAAgAAAAEAwAAAGB\/MxwAAAAIAAAAAAQAAEHEjASiSyplJAAAAAEBAABFODMwNEMwNC1FN0U4LTQ2NTEtOEU5OS1CNUM1NTFGQTM2QzUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAQAAAAAAAAAAFEAAAcAAAAAAAAAAQEAAAkAAAAAAAAABAEAAAgAAAAAAAAAACIAAAPAEAAAAAAAAFIAAAsAAAAAAAAAAQIAAAwAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled" : true,
    "keyCode" : 5,
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/GitHub Desktop.app",
    "modifierFlags" : 1048840,
    "order" : 3
  },
  {
    "openSelectedFiles" : true,
    "modifierFlags" : 1048840,
    "enabled" : true,
    "bookmark" : "Ym9va2ACAAAAAAQQMAAAAK1+EzRPspBPiNtKHa05a9gKmBQQbiTjUsaad7FgUMYSXAEAAAQAAAADAwAAABgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNsZG9icmkACAAAAAEGAAAQAAAAIAAAAAgAAAAEAwAANrwKAAAAAAAIAAAABAMAAKNpCwAAAAAACAAAAAEGAABAAAAAUAAAAAgAAAAABAAAQcSMDEquJ84YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBQAAAAEBAABtYWNPUwAAAAgAAAAEAwAAAGB\/MxwAAAAIAAAAAAQAAEHEjASiSyplJAAAAAEBAABFODMwNEMwNC1FN0U4LTQ2NTEtOEU5OS1CNUM1NTFGQTM2QzUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7\/\/\/8BAAAAAAAAABAAAAAEEAAAMAAAAAAAAAAFEAAAYAAAAAAAAAAQEAAAgAAAAAAAAABAEAAAcAAAAAAAAAACIAAASAEAAAAAAAAFIAAAvAAAAAAAAAAQIAAAzAAAAAAAAAARIAAA\/AAAAAAAAAASIAAA3AAAAAAAAAATIAAA7AAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAABwAAAoAAAAAAAAAARwAAAIAAAAAAAAAASwAAAsAAAAAAAAAAQ0AAABAAAAAAAAAA=",
    "hideIfActive" : false,
    "order" : 4,
    "openSelectedFolders" : true,
    "keyCode" : 3,
    "url" : "\/Users\/sldobri"
  }
]